{
  "presets": [
    "stage-2",
    [
      "env", {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "minify",
      {
        "keepFnName": false,
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["shebang", { "force": true }]
      ]
    }
  }
}
